*{
  padding: 0;
}
h2{
  padding: 20px;
  text-align: center
  ;
  background-color: black;
  color: white;
  font-size: 30px;

}
.cont{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
p{
  background-color: red;
  color: white;
  padding: 20px;
  font-size: 30px;
}